/*
// 
// 2005-12-01  ksc  Initial release
//  
*/

#head { 
    position: relative;
    margin: 0px;
    padding: 0px;
}
#wrapper {
    width: 898px;
    margin: 0px auto;
}
#col-left {
    position: relative;
    float: left;    
    width: 171px;
	margin: 15px 0px 0px 20px;
}
#col-right {
    position: relative;
    float: right;    
    width: 600px;
    margin: 15px 31px 0px 0px;
}
.quickref { width: 97% }

