
html,body {
    height: 100%;
}
body {
    position: relative;    
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 9pt;
    margin: 0px;
    width: 898px;
    background: #e0dada url(images/background.jpg) top left repeat-y; 
}
hr {
    height: 0;
    border: 0;
    border-top: 1px solid #8FA8C7;
    margin-top: 10px;
    clear: both; 
}
a {
    color: #2E3192;
    text-decoration: underline;
}
a:hover {
    color: #838f96;
    text-decoration: none;
}

#wrapper {
    position: relative;
    width: 898px;
    height: 97.3%;
    margin: 0px auto;
}
#head {
    position: relative;
    top: 0px;
    height: 120px;
    background: url(images/header.jpg) top left no-repeat;
}
#version_string {
    position: absolute;
    top: 102px;
    left: 50px;
    width: 420px;
    font-size: 7pt;
    color: #fff;
}
#tagline {
    position: absolute;
    top: 102px;
    left: 215px;
    width: 630px;
    font-size: 7pt;
    text-align: right;
    color: #fff;
}

#content {
    width: 898px;
    margin: 0px auto;
}
#col-left {
    position: relative;
    float: left;
    width: 170px;
    margin: 15px 0px 0px 40px;
    padding-left: 10px;
}
#col-right {
    position: relative;
    float: left;    
    width: 616px;
    margin: 15px 10px 0px 10px;
}

#wikitext h1, h2, h3, h4, h5 { color: #2E3192; }
#wikitext h1 { font-size: 16pt; }
#wikitext h2 { font-size: 14pt; text-align: center; }
#wikitext h3 { font-size: 12pt; }
#wikitext h4 { font-size: 10pt; } 
#wikitext h5 { font-size: 10pt; font-style: italic; }

#sidebar { 
    text-align: left;
}
#sidebar ul { list-style: none; margin: 0px; padding: 0px; }
#sidebar li { display: list-item; margin: 0px; border-bottom: 1px solid #fff; }
#sidebar li a { text-decoration: none; color: #2E3192; padding: 2px 2px 4px 2px; text-indent: 4px; /*font-weight: bold;*/ }
#sidebar ul li a { display: block; }
#sidebar ul li a:hover { 
    text-decoration: none; 
    color: #fff; 
    background: #2E3192 url(images/selector.gif) center right no-repeat; 
    padding: 2px 2px 4px 2px; 
    text-indent: 4px; 
}
#sidebar a.selflink { 
    text-decoration: none; 
    color: #fff; 
    background: #2E3192 url(images/selector.gif) center right no-repeat; 
    padding: 2px 2px 4px 2px; 
    text-indent: 4px; 
}

#sidebar h2 { font-size:150%; color: #fff; margin-bottom: 0px; border-bottom: 1px solid #666; }
#sidebar h3 { font-size:130%; color: #fff; margin-bottom: 0px; border-bottom: 1px solid #666; }
#sidebar h4 { font-size:100%; color: #fff; margin-bottom: 0px; border-bottom: 1px solid #666; }

#wikiedit form { margin:0px; }
#wikiedit textarea { width:99%; font-family: monospace; }

.difftype,.difftime,.diffrestore { font-size: 8pt; }

.diffbox { width:400px; margin-top:10px; }

.quickref table { margin: 2px auto; }
.quickref tr { border: 1px solid #999; }
.quickref td { padding: 2px; vertical-align: top; }

table.markup { border: 1px solid #ccc; }
td.markup1 { border-bottom: 1px solid #ccc; }
dd { margin-left: 18px; }

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.box {
    font-family: monospace, fixed;
    font-size: 95%;
    border: 1px solid #CCCCCC;
    background-color: #f5f5f5;
    margin: 10px 0px 10px 0px;
    padding: 4px 6px 4px 6px;
}

.imglink:focus, .imglink:hover, .imglink:active, .imglink:visited {
    outline: none;
}

.logolist {
    text-align: center;
}

.vspace {
    height: 20px;
}

#footer {
    clear: both;
    height: 60px;
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    color: #8FA8C7;
}

#footer-link, #footer-link a.focus, #footer-link a.hover, #footer-link a.active, #footer-link a.visited {
    text-decoration: underline;
    color: #8FA8C7;
}

#download {
    float: right;
    padding: 0px 0px 5px 10px;
    clear:right;
}

#screenshot {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#imghover img{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
}

#imghover:hover img{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75);
    -moz-opacity: 0.75;
}

#content {
    vertical-align: top;
}

.fragment {
       font-family: monospace, fixed;
       font-size: 95%;
}
PRE.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
    margin: 10px 0px 10px 0px;
    padding: 4px 6px 4px 6px;
}
SPAN.keyword       { color: blue }
SPAN.comment       { color: green }
SPAN.preprocessor  { color: gray }
SPAN.attribute     { color: red }
SPAN.namespace     { font-weight : bold}
SPAN.class         { font-weight : bold}
SPAN.bold          { font-weight : bold}








